@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-200 dark:bg-[#282C34];
  }

  .navigation {
    @apply sm:hover:ring-2 ring-violet-900 dark:ring-gray-500 w-1/4 sm:w-auto p-2 rounded-lg flex text-sm sm:text-base flex-col sm:flex-row items-center gap-1 transition cursor-pointer text-violet-500 dark:text-gray-400 hover:text-violet-800 hover:dark:text-gray-300;
  }

  .navigation-active {
    @apply sm:hover:ring-2 ring-violet-900 dark:ring-gray-500 w-1/4 sm:w-auto p-2 rounded-lg flex text-sm sm:text-base flex-col sm:flex-row items-center gap-1 transition cursor-pointer text-violet-800 dark:text-white hover:text-violet-800 hover:dark:text-gray-300;
  }

  .oneMoreLess {
    @apply border-2 border-violet-800 dark:border-gray-300 text-violet-900 dark:text-gray-100 rounded-md shadow-md hover:bg-violet-600 dark:hover:bg-gray-500 hover:text-white dark:hover:text-gray-900 transition-colors ease-in-out duration-300;
  }

  .inputLinks {
    @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-800 dark:text-gray-100 leading-tight focus:outline-none border-gray-400 dark:border-gray-500;
  }

  .buttonsIndex {
    @apply border border-violet-800 dark:border-white font-bold h-12 rounded focus:outline-none  transition-all duration-300
  }

  .buttonFormSumbit {
    @apply bg-violet-700 border border-violet-800 dark:border-white 
    dark:bg-white  dark:text-black  text-white py-2 px-4 rounded focus:outline-none 
    hover:bg-transparent dark:hover:bg-transparent dark:hover:text-white hover:text-black 
    transition-all duration-300 disabled:cursor-not-allowed disabled:opacity-60 disabled:hover:bg-violet-700
    disabled:hover:text-white dark:disabled:hover:text-black dark:disabled:opacity-60 dark:disabled:hover:bg-white
  }
  
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

:root {
  scroll-behavior: smooth;
}

.overflow-hidden-important{
  overflow: hidden !important;
}